#product-list {
    display: flex;
    justify-content: center;
}

.product-outer-div {
    width: 350px;
    margin: 30px;
}

.product-thumbnail {
    width: 100%;
    height: 400px;
}

.product-description {
    padding: 10px;
}